.idea/
target/
temp/
artifacts/
resources/
config/
*.json
src/main/java/META-INF/MANIFEST.MF
out/artifacts/bot_jar/bot.jar
.env
.jar
.MF
*.jar
logs/*
start.sh
data.csv
src/main/resources/META-INF/MANIFEST.MF
